@inherits LayoutComponentBase

<div class="page">
    <div style="background-image:none;" class="sidebar bg-primary">
        <NavMenu />
    </div>

    <main>

        <article content px-2>
            @Body
        </article>
    </main>
</div>
