<section class="d-flex align-items-center position-relative navbar-dark">
    <svg width="90" height="90" viewBox="0 0 807 807" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 807V403.5V0H807V807H0Z" fill="#09357A" />
        <path d="M374.125 469.19C376.708 466.446 381.227 462.734 384.293 461.281C388.651 459.022 394.139 458.376 411.57 458.376C430.938 458.376 434.166 458.86 440.622 462.088C445.303 464.348 449.338 468.06 452.243 472.902C456.601 480.004 456.762 480.811 456.762 502.277C456.762 517.126 456.063 526.272 454.664 529.715C453.373 532.62 449.822 537.462 446.594 540.206C443.204 543.111 437.555 546.339 433.843 547.307C429.97 548.276 418.349 548.76 407.374 548.599C389.781 547.953 387.36 547.63 381.55 543.757C378.16 541.497 373.48 536.816 371.22 533.266C367.669 527.617 367.185 524.873 366.539 507.603C366.378 496.789 366.862 485.168 367.831 481.295C368.799 477.583 371.704 472.095 374.125 469.19Z" fill="#F08348" />
        <path d="M480.488 464.993C483.07 463.218 486.782 461.12 489.042 460.151C491.302 459.344 499.21 458.537 506.796 458.537C517.61 458.537 521.161 459.022 523.42 461.281C525.034 462.734 526.164 465.478 526.164 467.253C526.164 469.028 524.873 471.772 523.259 473.386C521.161 475.646 517.933 476.291 508.41 476.13C498.726 475.969 495.498 476.614 487.428 482.586L486.621 547.953L469.674 548.76V514.866C469.674 484.2 469.997 480.326 472.902 474.516C474.677 470.965 478.067 466.607 480.488 464.993Z" fill="#F08348" />
        <path d="M538.108 470.481C540.044 467.899 544.886 464.025 548.921 461.927C555.539 458.537 557.798 458.215 578.78 458.699C600.408 459.183 601.699 459.344 608.155 463.541C612.029 466.123 616.387 470.804 618.162 474.516C621.067 480.326 621.39 484.2 621.39 548.76H613.32C607.51 548.76 605.089 548.114 604.443 546.339C603.959 545.048 603.636 530.038 603.636 482.586L599.117 479.358C595.405 476.453 592.338 475.969 576.521 476.13C559.735 476.13 558.121 476.453 554.086 480.004C549.567 483.877 549.567 484.2 549.567 503.568C549.567 522.936 549.567 523.259 553.925 527.132C558.121 530.683 559.735 531.006 592.338 531.006V548.76H575.714C566.675 548.76 556.669 547.953 553.602 546.985C550.535 545.855 546.016 543.757 543.434 541.981C541.013 540.367 537.462 536.009 535.525 532.136C532.943 526.971 531.974 521.483 531.329 509.217C530.845 499.856 531.329 489.365 532.459 484.2C533.588 479.358 536.009 473.063 538.108 470.481Z" fill="#F08348" />
        <path d="M180.445 470.32C182.866 466.93 187.385 463.379 190.452 462.25C194.326 460.797 205.139 460.151 253.398 459.99L255.819 464.025C257.11 466.285 257.917 469.351 257.433 470.804C257.11 472.418 254.851 474.677 252.591 475.646C249.847 477.098 240.325 477.744 223.539 477.744C200.62 477.744 198.199 478.067 195.294 480.972C193.519 482.747 191.582 485.814 191.098 487.751C190.613 489.849 190.452 498.565 190.775 507.28C191.259 522.29 191.582 523.42 195.617 527.132C199.975 530.845 200.943 531.006 253.398 531.006L256.142 535.202C258.563 538.592 258.724 539.883 256.949 543.272C255.98 545.371 253.398 547.63 251.3 548.114C249.363 548.599 235.644 548.76 194.003 547.953L187.063 543.111C183.35 540.529 178.67 535.364 176.894 531.813C174.312 526.648 173.344 521.645 173.021 507.603C172.698 497.758 173.182 486.782 174.151 482.909C175.119 479.197 178.024 473.548 180.445 470.32Z" fill="#F08348" />
        <path d="M269.377 495.175C269.054 465.316 269.215 463.218 272.12 461.765C273.734 460.797 276.317 459.99 277.608 459.99C278.899 459.99 281.482 460.958 283.257 462.25C286.162 464.348 286.485 466.93 287.292 494.691L287.297 494.888C288.099 524.551 288.108 524.88 292.134 527.939C295.685 530.683 298.751 531.167 337.326 531.006V498.242C337.326 469.674 337.81 465.316 340.231 462.734C341.684 461.12 344.589 459.829 346.526 459.99C348.624 459.99 351.368 461.604 352.659 463.541C354.596 466.607 354.919 474.032 354.273 547.953L324.414 548.437C295.362 548.76 294.232 548.599 286.001 544.725C279.868 541.82 276.478 538.915 273.573 533.75C269.699 527.294 269.538 525.841 269.377 495.175Z" fill="#F08348" />
        <path d="M346.203 249.524C355.08 247.103 368.96 244.198 376.869 242.907C387.037 241.293 399.304 240.809 418.026 241.293C435.941 241.777 449.983 243.068 460.797 245.328C469.674 247.103 482.747 250.493 489.849 252.752C496.951 255.012 510.347 260.5 519.708 264.857C529.069 269.376 543.595 277.608 551.988 283.257C560.381 288.906 572.97 298.267 579.91 304.077C588.949 311.825 592.984 316.505 594.92 321.67C596.857 326.996 597.18 329.74 595.889 334.098C594.92 337.164 591.854 341.684 589.271 344.266C585.236 347.817 582.654 348.624 576.198 348.624C568.612 348.624 567.482 347.978 556.507 338.456C550.051 332.807 540.044 324.737 534.234 320.702C528.424 316.505 516.803 309.404 508.41 305.207C500.017 300.849 488.074 295.523 481.779 293.264C475.484 291.004 462.734 287.776 453.211 285.839C440.461 283.418 429.485 282.45 412.377 282.45C395.591 282.45 384.293 283.418 372.511 285.678C363.311 287.453 350.399 290.681 343.782 292.941C337.165 295.201 325.06 300.365 317.151 304.4C309.242 308.435 297.46 315.375 291.327 319.733C285.194 324.091 274.703 332.323 268.408 338.133C257.272 348.14 256.142 348.624 248.556 348.624C241.616 348.624 239.679 347.817 234.998 343.459C231.932 340.393 229.027 335.712 228.381 332.484C227.574 328.449 228.058 325.06 230.156 320.54C231.932 316.99 236.774 311.018 241.293 306.983C245.651 303.109 254.528 296.007 260.661 291.327C266.794 286.646 277.769 279.383 284.871 275.187C291.973 270.991 305.046 264.373 313.923 260.5C322.8 256.787 337.326 251.784 346.203 249.524Z" fill="white" />
        <path d="M349.431 326.835C355.564 324.575 367.346 321.347 375.255 319.572C385.1 317.474 396.721 316.505 411.57 316.505C426.903 316.344 437.717 317.312 447.885 319.41C455.794 321.024 469.028 324.898 476.937 327.803C485.007 330.87 497.919 337.326 505.828 342.168C513.575 347.01 525.518 356.21 544.241 373.641L543.434 382.518C542.788 389.942 541.82 392.202 537.623 395.914C533.75 399.304 531.006 400.272 525.034 400.272C517.771 400.433 516.48 399.626 505.989 390.427C499.694 385.1 489.688 377.676 483.393 373.964C477.098 370.413 467.737 365.732 462.411 363.634C457.085 361.536 447.401 358.792 441.106 357.501C434.65 356.21 421.738 355.08 412.377 355.08C403.016 355.08 389.781 356.21 383.002 357.662C376.062 359.115 366.862 361.536 362.343 363.311C357.985 364.925 348.463 369.767 341.361 373.964C334.098 378.16 323.607 385.907 317.958 391.072C308.274 399.626 306.821 400.272 299.881 400.272C293.748 400.272 291.166 399.304 287.292 395.914C284.548 393.332 281.804 389.297 280.997 386.553C280.029 383.325 280.352 379.613 281.804 375.255C283.096 371.543 286.969 366.217 290.843 362.666C294.716 359.438 302.141 353.466 307.467 349.592C312.793 345.719 321.832 339.908 327.642 336.842C333.452 333.614 343.298 329.256 349.431 326.835Z" fill="white" />
        <path d="M383.325 389.942C388.651 388.651 394.462 387.037 396.237 386.714C398.012 386.23 407.051 386.23 416.412 386.553C427.064 386.876 437.071 388.328 443.043 390.265C448.369 391.879 456.439 395.107 460.797 397.367C465.316 399.626 473.225 404.791 478.551 408.826C483.877 412.7 489.365 417.703 490.817 419.801C492.27 421.9 493.723 425.45 493.884 427.71C494.045 429.97 494.207 433.359 494.045 435.457C493.884 437.394 491.463 441.59 488.396 444.657C483.877 449.338 481.779 450.306 475.969 450.306C469.835 450.306 467.414 449.176 459.183 442.72C453.857 438.362 444.818 432.875 439.008 430.131C429.485 425.773 426.903 425.289 412.377 425.45C399.304 425.45 394.462 426.257 386.553 429.324C381.227 431.422 372.188 437.071 366.378 441.752C357.34 449.015 354.919 450.306 349.108 450.306C343.459 450.306 341.038 449.338 336.519 445.141C333.291 442.236 330.386 438.04 329.902 435.78C329.417 433.52 329.74 429.001 330.709 425.773C331.838 421.577 335.228 417.219 341.038 412.377C345.557 408.342 354.919 402.209 361.536 398.819C368.153 395.43 377.999 391.395 383.325 389.942Z" fill="white" />
        <path d="M386.553 482.747C387.844 480.165 389.942 477.744 391.072 477.26C392.041 476.776 401.402 476.291 411.57 476.13C427.871 475.969 430.615 476.453 434.489 479.358C439.008 482.586 439.008 482.586 439.008 502.761C439.008 521.968 438.847 523.097 434.973 526.971C431.261 530.845 430.131 531.006 412.377 531.006H412.377C393.977 531.006 393.816 531.006 388.974 526.164C384.132 521.322 384.132 520.999 384.132 504.375C384.132 492.431 384.778 485.975 386.553 482.747Z" fill="#09357A" />
    </svg>
    <h4 class="text-center w-100" style="color: #ffffff; margin: 0px 16px 0px 0px;" href="">Cuora Connect</h4>
    <div class="github-link-landscale" style="position: absolute; bottom: 10px; left: 50%;">
        <a href="https://linktr.ee/rafaelnov" target="_blank" style="color: #fff; text-decoration: none;">
            <i class="fab fa-github"></i> GitHub
        </a>
    </div>
</section>
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true">
                    <img style="margin-right: 7px;
    margin-bottom: 5px;" src="/Images/home.svg" alt="Home icon" class="icon-svg" />
                </span> Início
            </NavLink>
        </div>
  
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tablecuoramax" Match="NavLinkMatch.All">
                <span aria-hidden="true">
                    <img style="margin-right: 7px;
    margin-bottom: 5px;" src="/Images/equipment.svg" alt="Home icon" class="icon-svg" />
                </span> Gerenciar Equipamentos
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" style="padding-left: 13px" href="importconfig" Match="NavLinkMatch.All">
                <span aria-hidden="true">
                    <img style="margin-right: 7px;
    margin-bottom: 5px;" src="/Images/import.svg" alt="Home icon" class="icon-svg" />
                </span> Importar Configuração
            </NavLink>
        </div>
        <div class="github-link-portatil" style="position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%);">
            <a href="https://github.com/seu-usuario" target="_blank" style="color: #fff; text-decoration: none;">
                <i class="fab fa-github"></i> GitHub
            </a>
        </div>
    </nav>
</div>
