@page "/counter"
@using CuoraConnect.Services
@using System.Diagnostics;
@inject INetworkService NetworkService
@inject IJSRuntime JS

<h3>Informações da Rede</h3>

<p>SSID: @ssid</p>
<p>Gateway Padrão: @gateway</p>
<p>IP Local: @localIP</p>
<p>IPs Disponíveis: @availableIP</p>

<button @onclick="GetNetworkInfo">Obter Informações da Rede</button>

@code {
    private string ssid = "SSID Desconhecido";
    private string gateway = "Gateway Padrão Desconhecido";
    private string localIP = "IP Local Desconhecido";
    private string availableIP = "IP Disponível Desconhecido"; 


    private async Task GetNetworkInfo()
    {
        Debug.WriteLine("Tentando obter informações da rede...");
        try
        {
            Debug.WriteLine("Serviço de rede obtido.");

            // Obtém o SSID
            ssid = await NetworkService.GetCurrentSSID();
            Debug.WriteLine($"SSID: {ssid}");

            // Obtém o Gateway Padrão
            gateway = NetworkService.GetDefaultGateway();
            Debug.WriteLine($"Gateway Padrão: {gateway}");

            // Obtém o IP Local
            localIP = NetworkService.GetLocalIPAddress();
            Debug.WriteLine($"IP Local: {localIP}");

            // Uncomment se necessário
            availableIP = NetworkService.GetAvailableIPAddress();
            Debug.WriteLine($"IP Disponível: {availableIP}");
        }
        catch (Exception ex)
        {
            ssid = $"Erro: {ex.Message}";
            Debug.WriteLine($"Erro: {ex.Message}");
        }
    }
}
