@page "/counter"
@using CuoraConnect.Services
@using System.Diagnostics;
@using CuoraConnect.Models;
@using SQLite
@inject INetworkService NetworkService
@inject IFileUploadService FileUploadService
@inject IJSRuntime JS




    <section>
        <div class="href-target" id="icons"></div>
        <h1>
            <svg width="150px" height="150px" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="48" height="48" fill="white" fill-opacity="0.01" />
                <path d="M4.00001 18.9653C4.58881 18.4073 5.19523 17.8786 5.81741 17.3792C17.0371 8.37423 33.3821 8.90292 44 18.9653" stroke="#000000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M38 25.799C30.268 18.067 17.732 18.067 10 25.799" stroke="#000000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M32 32.3137C27.5817 27.8954 20.4183 27.8954 16 32.3137" stroke="#000000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M24 40C25.3807 40 26.5 38.8807 26.5 37.5C26.5 36.1193 25.3807 35 24 35C22.6193 35 21.5 36.1193 21.5 37.5C21.5 38.8807 22.6193 40 24 40Z" fill="#000000" />
            </svg>Informações da rede Wi-Fi do seu Comércio
        </h1>
        <div class="nice-form-group">
            <label>Sua Rede</label>
            <input type="tel" placeholder="Wi-Fi do seu comercio" id="ssidInput" @bind="ssid" class="icon-right" />
        </div>
        <div class="nice-form-group">
            <label>Senha do Wi-Fi</label>
            <input type="password" placeholder="Senha do Wi-Fi do seu comercio" @bind="password" class="icon-right" />
        </div>
        <div class="nice-form-group">
            <label>Gateway Padrão</label>
            <input type="url" placeholder="IP do seu Roteador" id="gatewayInput" @bind="gateway" class="icon-right" />
        </div>
        <div class="nice-form-group">
            <label>Máscara de Rede</label>
            <input type="url" placeholder="IP do seu Roteador" @bind="subnetMask" class="icon-right" />
        </div>
        <div class="nice-form-group">
            <label>IP Disponível</label>
            <input type="email" placeholder="IP disponível em seu Wi-Fi" id="availableIPInput" @bind="availableIP" class="icon-right" />
        </div>
        <div class="nice-form-group">
            <label>Redes Wi-Fi disponíveis</label>
            <ul class="nice-form-group">
                @foreach (var Ssid in networks)
                {
                    <li class="nice-form-group">@Ssid</li>
                }
            </ul>
        </div>

        <button class="btn btn-primary mt-2" @onclick="GetNetworkInfo">Obter Informações da Rede</button>
        <button class="btn btn-success mt-2" @onclick="SaveNetworkInfo">Salvar Alterações</button>
    </section>

@code {
    private string ssid = "SSID";
    private string gateway = "Gateway Padrão";
    private string localIP = "IP Local";
    private string availableIP = "IP Disponível";
    private string password = "";
    private string subnetMask = "Máscara de rede";
    private int cidr;
    private List<string> networks = new List<string>();

    private string dbPath;


    // Inicializa o caminho do banco de dados e cria a tabela
    protected override void OnInitialized()
    {

        string dbPath = FileUploadService.pathDB();

        using var db = new SQLiteConnection(dbPath);
        db.CreateTable<NetworkInfo>();
    }


    public int ConvertSubnetMaskToCIDR(string subnetMask)
    {

        // Divide a máscara em octetos
        string[] parts = subnetMask.Split('.');
        int cidr = 0;

        foreach (var part in parts)
        {
            // Converte cada octeto para um inteiro
            byte octet = byte.Parse(part);
            // Conta o número de bits `1` no octeto
            cidr += CountBits(octet);
        }
        Debug.WriteLine($"SubNetMask: {subnetMask}");
        Debug.WriteLine($"CIDR: {cidr}");
        return cidr;

    }

    private int CountBits(byte octet)
    {
        int count = 0;
        while (octet > 0)
        {
            count += octet & 1; // Incrementa se o bit menos significativo for `1`
            octet >>= 1; // Desloca o bit para a direita
        }
        return count;
    }

    private async Task GetNetworkInfo()
    {
        Debug.WriteLine("Tentando obter informações da rede...");
        try
        {
            Debug.WriteLine("Serviço de rede obtido.");

            // Obtém o SSID
            ssid = await NetworkService.GetCurrentSSID();
            Debug.WriteLine($"SSID: {ssid}");

            // Obtém o Gateway Padrão
            gateway = NetworkService.GetDefaultGateway();
            Debug.WriteLine($"Gateway Padrão: {gateway}");

            // Obtém o IP Local
            localIP = NetworkService.GetLocalIPAddress();
            Debug.WriteLine($"IP Local: {localIP}");

            // Obtém o IP disponível
            availableIP = NetworkService.GetAvailableIPAddress();
            Debug.WriteLine($"IP Disponível: {availableIP}");

            subnetMask = NetworkService.GetSubnetMask();

            Debug.WriteLine($"Máscara disponível: {subnetMask}");

            // Obtém redes Wi-Fi disponíveis
            networks = NetworkService.GetAvailableWifiNetworks();
            Debug.WriteLine($"Redes Wi-Fi disponíveis: {string.Join(", ", networks)}");
        }
        catch (Exception ex)
        {
            ssid = $"Erro: {ex.Message}";
            Debug.WriteLine($"Erro: {ex.Message}");
        }
    }

    private void SaveNetworkInfo()
    {
        cidr = ConvertSubnetMaskToCIDR(subnetMask);
        // Salvando no SQLite
        using var db = new SQLiteConnection(FileUploadService.pathDB());

        var table = db.Table<NetworkInfo>().FirstOrDefault(c => c.Id == "$");
        if(table is null)
        {
            var networkInfo = new NetworkInfo
                {
                    Id = "$",
                    SSID = ssid,
                    Gateway = gateway,
                    LocalIP = localIP,
                    Password = password,
                    AvailableIP = availableIP,
                    SubnetMask = subnetMask,
                    CIDR = cidr
                };

            db.Insert(networkInfo);
        }
        else
        {
            table.SSID = ssid;
            table.Gateway = gateway;
            table.LocalIP = localIP;
            table.AvailableIP = availableIP;
            table.Password = password;
            table.SubnetMask = subnetMask;
            table.CIDR = cidr;
            db.Update(table);
        }
        Debug.WriteLine("Informações de rede salvas no banco de dados.");
    }
}
