@page "/f"
@using System.Reflection
@using System.IO
@using System.Diagnostics
@using System.Net
@using System.Security.Cryptography
@using System.Text
@using System.Text.RegularExpressions
@using CuoraConnect.Services
@using Microsoft.AspNetCore.Components
@inject IFileUploadService FileUploadService
@inject INetworkService NetworkService






    <script>

        function scrollToElement() {
            // Rola até o final da página
            window.scrollTo({
                top: document.body.scrollHeight, // Altura total do corpo da página
                behavior: 'smooth' // Rolagem suave
            });
        }

    </script>

    <ol style="--length: 5">
    <li id="pop-up" class="cardinterior" style="--i: 1; text-align: center;  counter-reset: list 1;">
            <h3>Conecte no Wi-Fi do seu Comércio</h3>
            <p>Após conectar no Wi-Fi do seu estabelecimento, prossiga pressionando o botão "PRÓXIMO" logo abaixo.</p>
        </li>
    </ol>

  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    




@code {
  


    private async Task SetActivePageStepper(int menuId)
    {
        PagesStepper.SetValue(PagesStepper.page = menuId);

    }


}