@page "/"
@using CuoraConnect.Services
@inject IFileUploadService FileUploadService
@inject DigestAuthService DigestAuthService

<h3>Gerador XML</h3>

<button @onclick="GenerateXml">Gerar XML</button>

@code {
    private async void GenerateXml()
    {
        FileUploadService.SaveXmlToFile();
        // Você pode adicionar lógica adicional para exibir uma mensagem ou atualizar a interface do usuário

        string url = "http://127.0.0.1/import/config";
        string username = "admin";
        string password = "admin";

        await DigestAuthService.SendFileAsync(url, username, password);
    }
}
